<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ajouter un z=acteur</title>

</head>
<body>
<h1>Ajout d'un acteur</h1>


<form th:action="@{/actor/add}" th:object=${actor} method="post">
  <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" >
	<p th:text="#{index.erreurs}">Message d'erreur</p>
</div>

  <label for="firstNameInput">Nom : </label>
  <input type="text" th:field="*{firstName}" id="firstNameInput" /> 
   <span class="text-danger col-6" th:if="${#fields.hasErrors('*{firstName}')}">
		<ul>
			<li th:each="erreur: ${#fields.errors('firstName')}" th:text="${erreur}"></li>
		</ul>
	</span> 

  <label for="lastNameInput">Prenom : </label>
  <input type="text" th:field="*{lastName}" id="lastNameInput" /> 
   <span class="text-danger col-6" th:if="${#fields.hasErrors('*{lastName}')}">
		<ul>
			<li th:each="erreur: ${#fields.errors('lastName')}" th:text="${erreur}"></li>
		</ul>
	</span> 


  <label for="dateNaissanceInput">Date de naissance : </label>
  <input type="date" th:field="*{dateDeNaissance}" id="dateNaissanceInput" /> 
   <span class="text-danger col-6" th:if="${#fields.hasErrors('*{dateDeNaissance}')}">
		<ul>
			<li th:each="erreur: ${#fields.errors('dateDeNaissance')}" th:text="${erreur}"></li>
		</ul>
	</span> 
 
  <button type="submit">Ajouter acteur</button>
</form>

</body>
</html>