<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Page d'accueil</title>
<style>
  form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
  }
  label { text-align: center;}
  .theader { text-align: center; font-weight:bold; font-size: larger;}
</style>
</head>
<body>
<h1>Ajout d'un film</h1>


<form th:action="@{/movie/add}" th:object=${movie} method="post">
  <label for="titleInput">Titre : </label>
  <input type="text" th:field="*{title}" id="titleInput" /> 


  <button type="submit">Ajouter Film</button>
</form>

</body>
</html>