<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Détail du Film</title>
	</head>
	<body>
		<h2>Film details</h2>
		<ul>	
			<li th:text="${movie.title}" />
			<li th:text="${movie.duration} + ' min.'" />
			<li th:text="${movie.synopsis}" />
			<li th:text="${movie.releaseYear}" />
			<li th:text="${movie.genre.name}" />
				<h3>Acteur</h2>
				<ul th:each="actor: ${movie.actors}">
					<li th:text="${actor.firstName}" />
				</ul>
				<h3>Avis sur ce Film</h2>
				<ul th:each="review: ${movie.reviews}">
					<li><a href="" th:text="${review.rating}+' '+${review.comment}" /></li>
				</ul>
		</ul>
		<a th:href="@{/review/add(movieId=${movie.id})}"><button type="button">Ajouter un Avis</button></a>
		<a href="../../">Return</a>
	</body>
</html>